In [7]:
import pandas as pd
df = pd.read_csv("DB.csv")
#iloc(1:4)

"""for index, row in df.iterrows():
    print(index, row['Brand Name'])"""

#df.loc['']= ""
#df.describe()

df['Total 5 years period'] = df['Total Spending 2016'] + df['Total Spending 2017'] + df['Total Spending 2018'] + df['Total Spending 2019']+ df['Total Spending 2020']

print(df.head(4))

,Total Manufactors,Total Spending 2016,Total Units 2016,Total Spending 2017,Total Units 2017,Total Spending 2018,Total Units 2018,Total Spending 2019,Total Units 2019,Total Spending 2020,Total Units 2020
count,13570.000000,9.163000e+03,9.163000e+03,1.007900e+04,1.007900e+04,1.112600e+04,1.112600e+04,1.232000e+04,1.232000e+04,1.357000e+04,1.357000e+04
mean,1.472955,3.082486e+07,2.112070e+07,3.015373e+07,2.031793e+07,3.003147e+07,1.941323e+07,2.971308e+07,1.806204e+07,2.927786e+07,1.677561e+07
std,2.309378,1.575999e+08,1.109333e+08,1.544222e+08,1.128405e+08,1.677208e+08,1.146377e+08,1.826093e+08,1.138163e+08,2.071545e+08,1.115687e+08
min,1.000000,4.025000e+01,1.300000e+01,3.202000e+01,1.150000e+01,5.222000e+01,1.900000e+01,5.716000e+01,7.000000e-01,2.309000e+01,1.100000e+01
25%,1.000000,9.458947e+04,4.389200e+04,9.094416e+04,3.569100e+04,8.096343e+04,2.865100e+04,6.366346e+04,2.115245e+04,3.871460e+04,1.242445e+04
50%,1.000000,1.305774e+06,4.342140e+05,1.256194e+06,3.868055e+05,1.071552e+06,3.016325e+05,8.780813e+05,2.330808e+05,6.326109e+05,1.578335e+05
75%,1.000000,9.492078e+06,5.007488e+06,8.981269e+06,4.458871e+06,8.161352e+06,3.619741e+06,7.472339e+06,2.860475e+06,6.406439e+06,2.148333e+06
max,43.000000,4.398692e+09,3.114198e+09,3.311187e+09,3.474179e+09,4.991813e+09,3.754504e+09,7.304981e+09,3.923036e+09,9.936070e+09,4.129152e+09